---
import { FileSize } from '../utils/file-size';

type Props = {
	href: string;
};

const { href }: Props = Astro.props;

const fileName = (() => {
	const last = href.split("/").filter(Boolean).pop();
	if (!last) return "Archivo";
	return decodeURIComponent(last);
})();

let sizeText = "Tamaño no disponible";
sizeText = FileSize.getFromPublicHref(href);
---

<aside
	class:list={[
		"my-3 border-l-4 p-4",
		"border-gray-500 bg-gray-50 text-gray-900",
	]}
	role="alert"
>
	<a href={href} target="_blank" rel="noopener noreferrer" class="file-callout-link">
		{fileName}
	</a>
	<em class="ml-2 text-slate-600">({sizeText})</em>
</aside>