---
import { FileSize } from '../utils/file-size';
import { getTypeVariant } from '../utils/type-colors';

type Props = {
	href: string;
	type?: string;
};

const { href, type }: Props = Astro.props;

const fileName = (() => {
	const last = href.split("/").filter(Boolean).pop();
	if (!last) return "Archivo";
	return decodeURIComponent(last);
})();

const sizeText = FileSize.getFromPublicHref(href);
const { callout } = getTypeVariant(type);
---

<aside
	class:list={[
		"my-3 border-l-4 p-4 text-slate-900",
		callout,
	]}
	role="note"
>
	<a href={href} target="_blank" rel="noopener noreferrer" class="file-callout-link">
		{fileName}
	</a>
	<em class="ml-2 text-slate-600">({sizeText})</em>
</aside>