<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet" />
<script is:inline type="module" src="/pagefind/pagefind-component-ui.js"></script>

<div id="search" class="mx-auto">
	<pagefind-config bundle-path="/pagefind/" base-url="/" excerpt-length="12"></pagefind-config>
	<pagefind-input placeholder="Buscar en el sitio…" autofocus></pagefind-input>
	<pagefind-summary default-message="Escribe una palabra o frase para buscar."></pagefind-summary>
	<pagefind-results></pagefind-results>
</div>
