---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<div class="menu-item">
					<a href="/transparencia">Transparencia</a>
					<div class="submenu">
						<a href="/transparencia/actas">Actas Municipales</a>
					</div>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>
