---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footbar from '../components/Footbar.astro';

const { title = 'Astro Basics', description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<script src="https://cdn.userway.org/widget.js" data-account="Txt3QSFuIj"></script>
		<title>{title}</title>
	</head>
	<body>
		<Navbar brand="Municipalidad de Tucurrique" />
		<slot />
		<Footbar />
	</body>
</html>
